<!DOCTYPE html>
<html lang="en">
<head>
    <title>Quiz</title>
</head>
<body>
    <p>Q{{ index+1 }}: {{ question[1] | safe_nl2br }}</p>

    <form method="POST">
        {% for letter, option in [('A', question[2]), ('B', question[3]), ('C', question[4]), ('D', question[5])] %}
            <label>
                <input type="radio" name="option" value="{{ letter }}"
                    {% if selected == letter %}checked{% endif %}>
                {{ letter }}. {{ option }}
            </label><br>
        {% endfor %}

        <br>

        <!-- Submit and go to previous -->
        {% if index > 0 %}
        <button type="submit" name="action" value="prev">Previous</button>
        {% else %}
        <button type="button" disabled>Previous</button>
        {% endif %}

        <!-- Submit and go to next -->
        {% if index < total - 1 %}
        <button type="submit" name="action" value="next">Next</button>
        {% else %}
        <button type = "submit" name="action" value="review">Review</button>
        <button type="submit" name="action" value="finish">Finish</button>

        {% endif %}
    </form>
</body>
</html>
